.page-header
  h3 Server-side clustering

p(ng-if='controls.pointsCount') There are {{ controls.pointsCount | number }} points in the database.

.panel.panel-default
  .panel-heading
    h3.panel-title Algorithm
  .panel-body
    .btn-group.btn-group-justified
      label.btn.btn-primary(ng-model='controls.params.algorithm', uib-btn-radio='"geohashing"') Geohashing
      label.btn.btn-primary(ng-model='controls.params.algorithm', uib-btn-radio='"aggregation"') Live aggregation
    br

    div(ng-if='controls.params.algorithm == "geohashing"')
      marked
        | Points are clustered using a pre-computed [geohash](https://en.wikipedia.org/wiki/Geohash).
      .source-links.text-center
        .btn-group
          a.btn.btn-info(href='https://github.com/AlphaHydrae/server-side-clustering-mongodb/blob/master/algorithms/geohashing.js')
            span.fa.fa-github
            = ' '
            | Algorithm
          a.btn.btn-info(href='https://github.com/AlphaHydrae/server-side-clustering-mongodb/blob/87cb6a3a26f8861feadd83d318dd27362fdf3328/generator.js#L66-L68')
            span.fa.fa-github
            = ' '
            | Pre-computing

    div(ng-if='controls.params.algorithm == "aggregation"')
      marked
        | Points are aggregated by regular intervals on-the-fly using the [MongoDB aggregation pipeline](https://docs.mongodb.com/v3.2/core/aggregation-pipeline/).
      .source-links.text-center
        .btn-group
          a.btn.btn-info(href='https://github.com/AlphaHydrae/server-side-clustering-mongodb/blob/master/algorithms/aggregation.js')
            span.fa.fa-github
            = ' '
            | Algorithm

.panel.panel-default
  .panel-heading
    h3.panel-title Latest requests
  table#requests.table(ng-if='controls.requests.length')
    thead
      tr
        th #
        th Algorithm
        th Time
    tbody
      tr.data(ng-repeat-start='req in controls.requests | reverse')
        td {{ controls.requestsCount - $index }}
        td(ng-if='req.algorithm == "geohashing"')
          | Geohashing
        td(ng-if='req.algorithm == "aggregation"')
          | Aggregation
        td(uib-tooltip='Algorithm execution time + request round trip', tooltip-append-to-body='true')
          | {{ req.algorithmTime | number }}ms
          = ' '
          small +{{ (req.time - req.algorithmTime) | number }}ms
      tr.details(ng-repeat-end)
        td
        td(ng-if='req.algorithm == "geohashing"', colspan=2)
          small
            strong Prefix length:
            = ' '
            | {{ req.response.data.geohashPrefixLength }}
        td(ng-if='req.algorithm == "aggregation"', colspan=2)
          small
            strong Lat/lon intervals:
            = ' '
            | {{ req.response.data.latInterval | number: 5 }}
            = ' / '
            | {{ req.response.data.lngInterval | number: 5 }}
