.page-header
  h3 Server-side clustering

form
  .btn-group
    label.btn.btn-primary(ng-model='controls.params.algorithm', uib-btn-radio='"geohashing"') Geohashing
    label.btn.btn-primary(ng-model='controls.params.algorithm', uib-btn-radio='"aggregation"') Live aggregation
